.primary-color {
    -fx-background-color: #4A4453;
    -fx-background-radius: 10;
}

.secondary-color{
    -fx-background-color: #2F1E63;
    -fx-background-radius: 10 0 10 0;
}

.sidebar {
    -fx-background-radius: 10;
}

.title-bar {
    -fx-background-color: #4A4453;
    -fx-background-radius: 10 10 0 0;
}

.title-bar-text {
    -fx-fill: #ffffff;
}

.label {
    -fx-background-color: #4A4453;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.label-secondary {
    -fx-background-color: #2F1E63;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.close-button {
    -fx-background-radius: 0 10 0 0;
    -fx-background-color: #4A4453;
}

.close-button:hover {
    -fx-background-color: red;
}

.minimize-button {
    -fx-background-color: #4A4453;
    -fx-background-radius: 0 0 0 0;
}

.minimize-button:hover {
    -fx-background-color: #b9b9b9;
}

.topbar-buttons{
    -fx-background-color: #4A4453;
    -fx-text-fill: #ffffff;
}

.topbar-buttons:hover{
    -fx-background-color: #373140;
}

.searchbar{
    -fx-background-color: #706A79;
    -fx-background-radius: 5;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 5;
}

.sidebar-buttons{
    -fx-background-color: #4A4453;
    -fx-text-fill: #ffffff;
}

.sidebar-buttons:hover{
    -fx-background-color: #373140;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color: #4A4453;
}

.image-scroll-pane {
    -fx-background-color: #2F1E63;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-padding: 0;
}

.scroll-pane > .scroll-bar:vertical > .increment-button,
.scroll-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-background-insets: 0 0 0 0 , 0 0 0 0, 0 0 0 0, 0 0 0 0 0;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 0;
}

.image-buttons {
    -fx-background-color: #2F1E63;
}

.image-buttons:hover {
    -fx-background-color: #251950;
}

.image-background{
    -fx-background-color: #2F1E63;
}